// Media Queries

@media (max-width: 800px) {
	.section-content {
		display: flex;
		flex-direction: column;
	}

	.color-content,
	.layout-content,
	.logo-section-content {
		width: 100%;
		margin: $center;
	}

	.logo-img,
	.layout-img,
	.color-img {
		width: 85%;
		margin: $center;
	}

	.section-title{
		justify-content: flex-start;
	}
}




@media (max-width: 650px) {
	header {
		display: none;
	}

	.content {
		width: 100%;
	}
}